{% extends "base.html" %}

{% block content %}
<h1 align="center">Пейзажи Марса</h1>
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
        {% for image in arr %}
            {% if loop.index == 1 %}
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/static/image/{{image}}" class="d-block w-100" alt="...">
                </div>
            {% else %}
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/static/image/{{image}}" class="d-block w-100" alt="...">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<form action="" method="post" novalidate, enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.image.label }}<br>
        {{ form.image(class_='form-control-files') }}
        {% for err in form.image.errors %}
        {{ error }}
    {% endfor %}
    </p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
</form>
{% endblock %}