{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center">Works log</h1>
<div class="col-md6 border rounded">
    {% for job in works %}
    <h2 style="text-align: left">Action # {{job.id}}</h2>
    <div>
        <table>
            <tr>
                <td style="text-align: left; width: 450px">Tile of activity</td>
                <td style="text-align: left; width: 150px">Team leader</td>
                <td style="text-align: left; width: 200px">Duration</td>
                <td style="text-align: left; width: 200px">List of collaborators</td>
                <td style="text-align: left">is finished</td>
            </tr>
            <tr>
                <td>{{job.job}}</td>
                <td>{{job.user.surname}} {{job.user.name}}</td>
                <td>{{job.work_size}} hours</td>
                <td>{{job.collaborators}}</td>
                {% if job.is_finished %}
                <td>finished</td>
                {% else %}
                <td>is not finished</td>
                {% endif %}
            </tr>
        </table>
        {% if current_user.is_authenticated and (current_user == job.user or current_user.id == 1) %}
        <div>
            <a href="/jobs/{{ job.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% if current_user.is_authenticated %}
<a href="addjob" class="btn btn-secondary">Добавить работу</a>
<a href="departments" class="btn btn-secondary">Перейти к департаментам</a>
{% endif %}

{% endblock %}